@use './mixins.scss' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

::selection,
::-moz-selection {
	background: var(--p-gray-700);
}

html,
body,
#app {
	overflow-x: hidden;
	@include thin-scrollbar;

	& {
		scrollbar-gutter: stable;
	}
}

body,
#app {
	min-height: 100vh;
	line-height: 1.5;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}
